.header-container {
  height: 520px;
  width: 100%;
  position: relative;
  background-color: #ad7c00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.header-container .image-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.header-container .name-container {
  position: absolute;
  top: 85%;
  right: 50%;
  transform: translate(50%, -50%);
}

.header-container div {
  text-align: center;
  color: #fff;
}

.header-container div h2 {
  font-size: 50px;
  margin: 0;
}

.header-container div h2 span {
  font-weight: 300;
}
