nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  z-index: 999;
  // background-color: #4056a1;
  background-color: transparent;
  color: #fff;
  padding: 1.3em;
  top: 0;
  left: 0;
}

nav .title {
  font-size: 40px;
}

nav .header-tweet-button {
  float: right;
  background: #4056a1;
  padding: 20px;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

nav .header-tweet-button .first-word-bold {
  font-weight: 600;
}
