article {
  border: 3px solid black;
  padding: 20px;
  transition: all 0.3s ease-out;
  margin-bottom: 20px;
}

article img {
  opacity: 0.6;
}

article:hover img {
  opacity: 1;
}

article:hover {
  font-weight: bold;
  box-shadow: 10px 10px #888888;
}

article header {
  padding-bottom: 30px;
}

article header .handle {
  float: right;
  font-weight: 300;
  visibility: hidden;
}

article:hover header .handle {
  visibility: visible;
}

article main {
  border-bottom: 3px solid black;
  padding-bottom: 30px;
}

article main span {
  padding: 20px;
}

article footer {
  padding: 20px 20px 0 20px;
}

article footer .social-flags {
  float: right;
}

article footer .fas {
  color: #4056a1;
}
